nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1pt solid grey;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.nav-img {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 2rem;
    margin-right: 4rem;
}

.nav-title {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 102, 255);
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem;
}